#container {
  background-color: #000000;
  margin: auto;
  border: 1px solid black;
  width: 960px;
}

#header {
  background-color: #0000ff;
  color: red;
  width: 89%;
  border: 1px solid black;
  margin: auto;
}

#content {
  background-color: #ff0000;
  color: #408d21;
  padding-right: 90px;
}

.middle {
  text-align: right;
}
