body {
  background-color: rgb(8, 15, 32);
  font-family: sans-serif;
  color: aliceblue;
}

#container {
  background-color: rgb(240, 206, 164);
  margin: auto;
  width: 90%;
  text-align: center;
  padding: 4px;
}

header {
  background-color: rgb(101, 79, 122);
  margin: auto;
  width: 95%;
  height: 50px;
}

nav {
  background-color: rgb(125, 168, 155);
  margin: auto;
  width: 95%;
  height: 20px;
}

section {
  background-color: rgb(68, 45, 45);
  width: 60%;
  height: 300px;
  display: inline-block;
  border: 1px solid black;
}

aside {
  background-color: cornflowerblue;
  width: 35%;
  height: 300px;
  display: inline-block;
}

footer {
  background-color: goldenrod;
  width: 95%;
  height: 100px;
}
